<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/sphars/yacck/yacck.min.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='~/css/site.css'>
  <script src="~/js/jquery.min.js"></script>
  <script src='~/js/script.js'></script>
  @await RenderSectionAsync("Scripts", required: false)
  <title>Epi Week 10: Hair Salon Stylist & Client Solution</title>
</head>
<body>
  <header>
    @await Html.PartialAsync("Header")
  </header>
  <main>
    @RenderBody()
  </main>
  <footer>
    @await Html.PartialAsync("Footer")
  </footer>
</body>
</html>
