<h1>Epicodus Project Week 10</h1>

<nav>
  <ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Stylists", "Index", "Stylists")</li>
    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
  </ul>
</nav>
