@{
  Layout = "_Base";
}
@model HairSalon.Models.Stylist

<h2>Add Stylist</h2>

@using (Html.BeginForm())
{
  @await Html.PartialAsync("Forms/StylistForm")
  <button>Add new stylist</button>
}


@await Html.PartialAsync("Buttons/StylistHome")
