@{
  Layout = "_Base";
}
@model HairSalon.Models.Stylist

<h2>Add Stylist</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName)
  @Html.LabelFor(model => model.LastName)
  @Html.TextBoxFor(model => model.LastName)
  <button>Add new stylist</button>
}

@await Html.PartialAsync("Buttons/StylistHome")
