@{
  Layout = "_Base";
}

@model HairSalon.Models.Stylist

<h2>Are you sure you want to delete this stylist?</h2>

@using (Html.BeginForm())
{
  <h1>@Html.DisplayFor(model => model.Name)</h1>
  @await Html.PartialAsync("Buttons/Delete")
}
@await Html.PartialAsync("Buttons/StylistHome")
