@{
  Layout = "_Base";
}

@model HairSalon.Models.Stylist

<h2>Are you sure you want to delete this stylist?</h2>

@using (Html.BeginForm())
{
  @await Html.PartialAsync("Tables/StylistDetails")

  @if (Model.Clients.Count != 0)
  {
    @await Html.PartialAsync("Tables/Clients", (List<HairSalon.Models.Client>)Model.Clients.ToList())
    <h3>You will have to find Stylists for these clients after you delete <span class='delete-name'>@Model.Name</span></h3>
  }
  @await Html.PartialAsync("Buttons/Cancel")
  @await Html.PartialAsync("Buttons/Delete")
}
