@{
  Layout = "_Base";
}

@model HairSalon.Models.Stylist

<h2>Edit Stylist</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)
  @await Html.PartialAsync("Forms/StylistForm")
  <button value="Save">Edit stylist</button>
}
