@{
  Layout = "_Base";
}
@using HairSalon.Models;

<h1>Stylists</h1>

@if (@Model.Count == 0)
{
  <h3>No Stylists have been added yet!</h3>
}
else
{
  @await Html.PartialAsync("Tables/Stylists")

  @await Html.PartialAsync("Buttons/ClientAddClient")
}

@await Html.PartialAsync("Buttons/StylistAddStylist")
