@model HairSalon.Models.Search
@{
  Layout = "_Base";
  string searchString = (Model != null && Model.SearchString != null) ?
      Model.SearchString :
      "";
}

@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
  <input type="text" id="id" name="id" placeholder="Search Stylists & Clients by Name" value="@searchString"/>
  <button>Search</button>
}

@if (Model != null)
{
  <h1>Filter: "@Model.SearchString"</h1>
  @if (Model.Stylists.Count() != 0)
  {
    <h2>Stylists</h2>
    @await Html.PartialAsync("Tables/Stylists", Model.Stylists)
  }

  @if (Model.Clients.Count() != 0)
  {
    <h2>Clients</h2>
    @await Html.PartialAsync("Tables/Clients", Model.Clients)
  }
}
