<table class='details'>
  <tbody>
    <tr>
      <td>First Name</td>
      <td>@Model.FirstName</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>@Model.LastName</td>
    </tr>
    <tr>
      <td>Client Count</td>
      <td>@Model.Clients.Count</td>
    </tr>
  </tbody>
</table>
