@{
  Layout = "_Base";
}

@model List<HairSalon.Models.Client>;

<h2>Salon</h2>

<p>Welcome to Eclair's Salon management page.</p>
<p>Please select an action below.</p>

@await Html.PartialAsync("Buttons/StylistHome")
@await Html.PartialAsync("Buttons/StylistAddStylist")
@await Html.PartialAsync("Buttons/ClientHome")
@await Html.PartialAsync("Buttons/ClientAddClient")

@if (ViewBag.stylists.Count != 0)
{
  @await Html.PartialAsync("Tables/Stylists", (List<HairSalon.Models.Stylist>)ViewBag.stylists)
}
else
{
  <hr />
}

@if (Model.Count != 0)
{
  @await Html.PartialAsync("Tables/OrphanClients")
}
