@{
  Layout = "_Base";
}

<h2>Salon</h2>

<p>Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah</p>

@await Html.PartialAsync("Buttons/StylistHome")
@await Html.PartialAsync("Buttons/StylistAddStylist")
