@{
  Layout = "_Base";
}
@using System.Collections.Generic;

@model HairSalon.Models.Client

<h4>Add a new client</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId", ViewBag.StylistId, "", ViewBag.attr)

  <input type="submit" value="Add new item" class="btn btn-default" />
}
