@{
  Layout = "_Base";
}
@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}
@using System.Collections.Generic;

@model HairSalon.Models.Client

<h4>Add a new client</h4>

@using (Html.BeginForm())
{
  @await Html.PartialAsync("Forms/ClientForm")
  <br />
  <button>Add new client</button>
}
