@{
  Layout = "_Base";
}
@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}
@using System.Collections.Generic;

@model HairSalon.Models.Client

<h4>Edit Client</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  @await Html.PartialAsync("Forms/ClientForm")
  <br />
  <button value="Save">Edit client</button>
}
